.address_card {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  padding: 10px;
  display: flex;
  border-bottom: 1px solid gray;
}
.address_card span {
  text-align: left;
}
.address_card .name {
  font-weight: bold;
}
.remove{
  color: rgb(4, 45, 158);
  text-decoration: underline;
}
.remove:hover{
  color: rgb(211, 6, 6);
  cursor: pointer;
}