.left_arrow,
.right_arrow {
  border: 1px solid transparent;
  cursor: pointer;
  width: 3%;
  height: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_arrow {
  left: 0%;
}
.right_arrow {
  right: 0%;
}
.left_arrow:hover,
.right_arrow:hover {
  border: 1px solid black;
  color: red;
}
.carousel_img img {
  width: 100%;
}
@media (max-width: 1000px) {
  .left_arrow,
  .right_arrow {
    /* top: 20%; */
    /* height: 120px; */
  }
}
@media (max-width: 700px) {
  .left_arrow,
  .right_arrow {
    /* top: 16%; */
  }
}
@media (max-width: 600px) {
  .left_arrow,
  .right_arrow {
    /* top: 12%; */
    /* height: 100px; */
  }
}
@media (max-width: 400px) {
  .left_arrow,
  .right_arrow {
    /* top: 8%; */
    /* height: 60px; */
  }
}
