.main_container h1 {
  text-align: center;
  color: gray;
}
.row_heading {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}
.cards_and_price {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cards_and_price > div {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgb(240, 236, 236);
}

.cards {
  padding: 10px;
  flex: 1; /* Add flex: 1 to allow the cards section to grow and shrink */
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: fit-content;
  padding: 20px;
  position: sticky;
  top: 100px; 
  width: 200px; 
  margin-left: 20px; 
}

.price h2 {
  margin-top: 0px;
  border-bottom: 1px solid rgb(163, 161, 161);
  padding-bottom: 5px;
}
.price div,
.total_qty {
  width: 100%;
}
.priceItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.totalItem {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 2px solid rgb(163, 161, 161);
  padding: 10px 0px 10px 0px;
}

.priceLabel,
.totalLabel {
  font-weight: bolder;
  font-size: 1.3rem;
}

.priceValue,
.totalValue {
  margin-left: 10px;
  width: 70px;
  text-align: right;
  font-weight: bolder;
}
.totalValue {
  color: green;
}
.promo_code {
  display: flex;
  gap: 10px;
}
.promo_code input {
  width: 70%;
  padding: 5px;
}
.promo_code button {
  border-radius: 5px;
  cursor: pointer;
}

.proceed_btn- button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
}
.proceed_btn button:hover {
  background-color: rgb(12, 75, 12);
}

@media(max-width:622px){
  .cards_and_price{
    flex-direction: column;
  }
  .price {
  height: fit-content;
  padding: 10px;
  position: sticky;
  top: 100x; 
  width: 100%; 
  margin: auto; 
}
}