.container {
  /* border: 1px solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* width: fit-content; */
  gap: 20px;
  padding: 10px;
}
.container img{
    width: 150px;
    height: 150px;
}
.container .description h2{
  font-size: 1.1rem;
}
.container .description h3{
    color: gray;
}
