.container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* width: fit-content; */
  gap: 20px;
  padding: 10px;
}
.image_and_description{
  display: flex;
  gap: 20px;
}
.container img{
    width: 150px;
    height: 150px;
}
.container .description h2{
  font-size: 1.1rem;
}
.container .description h3{
    color: rgb(61, 61, 61);
}
select{
  margin-top: 1em;
  cursor: pointer;
  font-size: large;
}
.remove_btn{
  border: none;
  cursor: pointer;
  background-color: rgb(90, 47, 47);
  color: white;
  padding: 5px;
  border-radius: 10px;
}
.remove_btn:hover{
  background-color: red;
}