.facewash_container {
  width: 100%;
}
.facewash_container .banner {
  width: 100%;
}
.product_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.sidebar_and_product {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 10px;
  gap: 10px;
}
.mob_sidebar {
  display: none;
  margin-top: 20px;
}
@media (max-width: 900px) {
  .product_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 750px) {
  .sidebar_and_product {
    display: block;
  }
}
@media (max-width: 550px) {
  .product_list {
    grid-template-columns: repeat(1, 1fr);
  }
}
