.footer_container{
    border: 1px solid black;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
}
.row{
    display: flex;
    flex-direction: column;
}
a{
    color: black;

}
a:hover{
    color: red;
}