.footer_container {
  border: 1px solid black;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
}
.row {
  display: flex;
  flex-direction: column;
}
.row a {
  color: gray;
}
.row a:hover {
  color: red;
}
.row .updated_input {
  display: flex;
  gap: 10px;
}
.row input {
  height: 40px;
  width: 70%;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid black;
}
.row .submit_btn {
  display: block;
  height: 54px;
  width: 30%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}
.row .download_app_btn {
  width: 55%;
  height: 45px;
  background-color: #9d88ce;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
