.heading {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 20px;
}
.heading h2 {
  margin: 0%;
  font-size: 1.8rem;
}
.heading > span {
  font-size: 1.3rem;
}
.heading > p {
  font-size: 1.3rem;
  margin: 5px;
  color: gray;
}
.bestsellers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.spotlight{
  width: 96%;
  margin: auto;
}
.spotlight_img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}
.spotlight_img>img{
  width: 50%;
}
.spotlight img{
  width: 100%;
}