.heading {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 20px;
}
.heading h2 {
  margin: 0%;
  font-size: 1.8rem;
}
.heading > span {
  font-size: 1.3rem;
}
.heading > p {
  font-size: 1.3rem;
  margin: 5px;
  color: rgb(156, 156, 156);
}
.bestsellers,
.category {
  margin: auto;
  width: 78%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.spotlight {
  width: 96%;
  margin: auto;
}
.spotlight_img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 15px;
}
.spotlight_img > img {
  width: 50%;
}
.spotlight img {
  width: 100%;
}
.footer {
  border: 1px solid black;
}
@media (max-width: 1100px) {
  .bestsellers,
  .category {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .bestsellers,
  .category {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .bestsellers,
  .category {
    grid-template-columns: repeat(1, 1fr);
  }
  .heading h2 {
    margin: 0%;
    font-size: 1.3rem;
  }
  .heading > span {
    font-size: 1rem;
  }
  .heading > p {
    font-size: 1rem;
  }
  .spotlight_img {
    grid-template-columns: repeat(1, 1fr);
  }
}
