.MenuSidebar_container {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.MenuSidebar_container a {
    font-weight: 100;
}
.menuNavigationBar a:hover{
    font-weight: 500;
}
.sidebar_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 2px solid gray; */
  border-bottom: 2px solid gray;
  gap: 20px;
  background-color: gray;
  color: white;
  height: 40px;
}
.menuNavigationBar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.menuNavigationBar h2 {
  margin: 0%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  padding-left: 0%;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.profile{

}