.MenuSidebar_container {
  width: 50dvw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 100vh;
  position: fixed;
  /* z-index: 99; */
  background-color: white;
}

.MenuSidebar_container a {
  font-weight: 100;
  /* font-weight: 500; */
  font-size: 1.2rem;
  color: black;
  border: 1px solid transparent;
  padding: 5px;
}
.MenuSidebar_container a:hover {
  border: 1px solid black;
  color: red;
  font-weight: 500;
}
.sidebar_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 2px solid gray; */
  border-bottom: 2px solid gray;
  gap: 10px;
  background-color: gray;
  color: white;
  height: 60px;
  position: relative;
}
.menuNavigationBar,
.profile {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.MenuSidebar_container h2 {
  margin: 0%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px;
  padding-left: 0%;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.close_btn {
  position: absolute;
  /* right: 1%;
  top: -25%; */
  right: 1%;
  top: 1%;
  cursor: pointer;
}
.close_btn:hover {
  color: rgb(253, 6, 6);
}
.menuNavigationBar .activeLink{
  color: red;
}
@media (max-width: 450px) {
  .MenuSidebar_container {
    width: 100dvw;
  }
}