.nav_container {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.logo img {
  max-width: 150px;
}
.Search_Box,
.Mob_Search_Box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 113, 114, 0.89);
  cursor: pointer;
  border-radius: 7px;
  gap: 5px;
  padding-right: 5px;
}
.Search_Box:hover,
.Mob_Search_Box:hover {
  /* background-color: rgb(16, 90, 16); */
  background-color: red;
}
.Search_Box input,
.Mob_Search_Box input {
  height: 5dvh;
  width: 30dvw;
  padding: 5px;
  font-size: large;
  border-radius: 7px 0px 0px 7px;
}
.login_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}
.login_signup button {
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
  border: 2px solid transparent;
}
.login_btn {
  background-color: #4caf50;
  border-radius: 7px 0px 0px 7px;
  color: #ffffff;
}
.login_btn:hover {
  background-color: green;
}
.signup_btn {
  background-color: gray;
  color: white;
  border-radius: 0px 7px 7px 0px;
}
.signup_btn:hover {
  background-color: rgb(90, 90, 90);
}
.cartLogo_profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6dvw;
}
.cart_logo,
.user_profile {
  cursor: pointer;
}
.user_profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.user_profile span{
  font-size: larger;
  font-weight: bold;
  color: green;
}
.cart_logo:hover,
.user_profile:hover {
  color: red;
}
.sideBar {
  /* display: block; */
  position: absolute;
  z-index: 99;
  background-color: white;
  /* height: 100dvh; */
}
.hamburgerIcon {
  display: none;
}
.hamburgerIcon:hover {
  cursor: pointer;
  color: red;
}
.Mob_Search_Box {
  display: none;
}
@media (max-width: 950px) {
  .user_profile,
  .login_signup {
    display: none;
  }
  .hamburgerIcon {
    display: block;
  }
}
@media (max-width: 450px) {
  .Search_Box {
    display: none;
  }
  .Mob_Search_Box {
    display: flex;
  }
  .Mob_Search_Box input {
    width: 90%;
  }
}
