.nav_container {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid rgb(206, 206, 206);
  border-top: 2px solid rgb(206, 206, 206);
  position: sticky;
  top: 0%;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo img {
  max-width: 70%;
  margin: auto;
}
.cart_logo {
  color: black;
}
.searchSuggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 99%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.suggestionItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.suggestionItem div span {
  text-align: left;
}
.suggestionItem img {
  max-width: 80px;
  max-height: 80px;
}

.suggestionItem:hover {
  background-color: #f5f5f5;
}
.Search_Box,
.Mob_Search_Box {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(114, 113, 114, 0.89);
  cursor: pointer;
  border-radius: 7px;
  gap: 5px;
  padding-right: 5px;
  position: relative;
}
.Search_Box:hover,
.Mob_Search_Box:hover {
  /* background-color: rgb(16, 90, 16); */
  background-color: red;
}
.Search_Box input,
.Mob_Search_Box input {
  height: 5dvh;
  width: 30dvw;
  padding: 5px;
  font-size: large;
  border-radius: 7px 0px 0px 7px;
}
.cart_count {
  position: absolute;
  top: -40%;
  left: 40%;
  color: white;
  background-color: rgb(107, 34, 34);
  width: fit-content;
  border-radius: 50%;
  padding: 1px 2px;
}
.cart_logo {
  position: relative;
}
.login_signup {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}
.login_signup button {
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px;
  cursor: pointer;
  border: 2px solid transparent;
}
.login_btn {
  background-color: #4caf50;
  border-radius: 7px 0px 0px 7px;
  color: #ffffff;
}
.login_btn:hover {
  background-color: rgb(5, 139, 5);
}
.signup_btn {
  background-color: rgb(146, 145, 145);
  color: white;
  border-radius: 0px 7px 7px 0px;
}
.signup_btn:hover {
  background-color: rgb(90, 90, 90);
}
.cartLogo_profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6dvw;
}
.cart_logo{
  padding-right: 10px;
  padding-left: 10px;
}
.cart_logo,
.user_profile {
  cursor: pointer;
}
.user_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
.user_profile span {
  font-size: larger;
  font-weight: bold;
  color: green;
}
.cart_logo:hover,
.user_profile:hover {
  color: red;
}
.sideBar {
  /* display: block; */
  position: absolute;
  z-index: 99;
  background-color: white;
  /* height: 100dvh; */
}
.hamburgerIcon {
  display: none;
  /* margin-right: 20px; */
  padding-left: 10px;
}
.hamburgerIcon:hover {
  cursor: pointer;
  color: red;
}
.Mob_Search_Box {
  display: none;
}
.profile_drop_down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 160%;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  z-index: 99;
  right: 1%;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  font-weight: 500;
  gap: 10px;
}
.profile_drop_down a {
  color: gray;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.profile_drop_down a:hover {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  color: black;
}
/* .profile_drop_down a:nth-child(2){
  margin-bottom: 10px;
} */
.profile_drop_down a:nth-child(3) {
  border-top: 2px solid gray;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
}
.profile_drop_down a:nth-child(3):hover {
  background-color: red;
  color: white;
}
@media (max-width: 950px) {
  .user_profile,
  .login_signup {
    display: none;
  }
  .hamburgerIcon {
    display: block;
  }
}
@media (max-width: 450px) {
  .Search_Box {
    display: none;
  }
  .Mob_Search_Box {
    display: flex;
  }
  .Mob_Search_Box input {
    width: 90%;
  }
}
