.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(108, 109, 108); */
  height: 35px;
  padding: 5px;
  border-bottom: 2px solid rgb(206, 206, 206) ;
  /* margin-top: 100px; */
}
a {
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
  border: 1px solid transparent;
  padding: 5px;
}
a:hover {
  border: 1px solid black;
  color: red;
}
