.carousel_container {
  position: "relative";
  width: "99%";
  /* border: "1px solid red"; */
  margin: "auto";
}
.next_btn{
    position: "absolute";
    top: "35%";
    right: "0%";
    border: "1px solid red";
    width: "50px";
    height: "150px";
    display: "flex";
    align-items: "center";
    justify-content: "center";
}
/* #prev_btn{
    position: "absolute";
          width: "50px";
          height: "150px";
          left: "0%";
          top: "35%";
          border: "1px solid red";
          display: "flex";
          align-items: "center";
          justify-content: "center";
} */
.carousel_container .prev_btn:hover{
    border: "1px solid red";

}