.carousel_container {
  position: relative;
  width: 78%;
  margin: auto;
}
.prev_btn,
.next_btn {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prev_btn {
  left: -7%;
}
.next_btn {
  right: -7%;
}
.prev_btn:hover,
.next_btn:hover {
  /* background-color: rgb(202, 198, 198); */
  background-color: rgb(50, 95, 50);
  color: white;
}
