/* .shipment_container{
  display: flex;
  flex-direction: column;
} */
.title{
  text-align: center;
  color: gray;
}
.shipment_container h1{
  text-align: center;
}
.select_address h2{
  padding-left: 50px;
  color: rgb(197, 75, 19);
}
.add_address{
  font-weight: bold;
  cursor: pointer;
}
.shipment_container .form_container {
  display: flex;
  flex-direction: column;
  padding: 0px 50px 0px 50px;
  gap: 20px;
  margin-top: 20px;
  max-width: 700px;
  box-sizing: border-box;
  /* justify-content: center; */
  /* align-items: center; */
}
.shipment_container .form_container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}
.shipment_container .form_container form div {
  display: flex;
  flex-direction: column;
}
.shipment_container .form_container form label {
  font-weight: 500;
}
.shipment_container .form_container form select,
.shipment_container .form_container form input {
  padding: 5px;
}
.shipment_container .form_container form button {
  padding: 5px;
  background-color: rgb(32, 32, 32);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.shipment_container .form_container form button:hover {
  background-color: black;
}
.address_card_container{
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
  width: 90%;
}