.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  width: 200px;
  position: sticky;
  top: 100px;
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 10px;
}

select:focus {
  outline: none;
  border-color: #888;
}

@media (max-width: 750px) {
  .sidebar {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
  }
  .sidebar select {
    width: 30%;
  }
  .h3 {
    margin: auto;
  }
}
