.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  max-width: 350px;
  margin: auto;
  margin-top: 3%;
  text-align: left;
  padding: 15px;
  background-color: white;
}
.container h2 {
  text-align: center;
  margin: 0%;
  margin-bottom: 15px;
}
.form_container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.form_container div label {
  font-weight: 500;
}
.form_container div input,
.form_container div select {
  padding: 5px;
  height: 40px;
}
.form_container button {
  display: block;
  margin: auto;
  width: 100%;
  padding: 12px;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  background-color: #2e2e2d;
  color: white;
  border: none;
}
.form_container button:hover {
  background-color: rgb(16, 90, 16);
}
span {
  display: block;
  text-align: center;
  margin-top: 10px;
}
a {
  text-decoration: none;
}
.required:after {
  content: " *";
  color: red;
}
.form_container .error {
  color: red;
  margin: 0px;
}
.form_container .error_medium {
  color: rgb(223, 172, 5);
  margin: 0px;
}
.form_container .error_strong {
  color: green;
  margin: 0px;
}
button:disabled:hover {
  cursor: not-allowed;
}