.carousel_container {
  position: relative;
  width: 78%;
  margin: auto;
}

.carousel_image img {
  width: 100%;
}

.prev_btn,
.next_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 25px;
}

.prev_btn {
  left: -8%;
}

.next_btn {
  right: -8%;
}

.prev_btn:hover,
.next_btn:hover {
  color: red;
}
