.single_page_container{
border: 1px solid red;
padding: 10px 40px;
display: flex;
gap: 20px;
}
.main_image img{
    max-width:500px ;
    max-height: 500px;
}
.thumbnails img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
}
.thumbnails img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.category{
    text-align: center;
    color: gray;
}